.a-plus-circle{
	color:blue;
}
.fa-floppy-o{
	color:green;
}
.fa-times{
	color:black;
}
.fa-pencil-square-o{
	color:black;
}
.fa-trash-o{
	color:red;
}
.fa-users{
	color:red;
}
.fa-refresh{
	color:green;
}
.inheritwidth{
	width: inherit;
}
